{
    "rules": {
        "react/react-in-jsx-scope": "off",
        "react/prop-types": 0,
        "no-console": ["error", {
            "allow": ["warn", "error"]
        }]
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "plugins": [
        "react"
    ],
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "env": {
        "browser": true,
        "node": true
    }
}